<app-user *ngIf="false"></app-user>
<app-users *ngIf="false"></app-users>
<div class="app-user" *ngIf="false"></div>

<app-sample1 *ngIf="false"></app-sample1>
<app-practice2 *ngIf="false"></app-practice2>
<div *ngIf="false">
  <app-star *ngFor="let rating of ratings" [rating]=rating (starClicked)="onStarClicked($event)"></app-star>
</div>
<app-decoupling></app-decoupling>
<app-child1 #counter><h2 #headercontent>Data from AppComponent</h2></app-child1>
<button (click)="increamentMain()">+</button>
<button (click)="decreamentMain()">-</button>
<br />
<p >Direction Sample</p>
<p bold>Direction Sample</p>


<p *ngIf="condition ; else unset">
  Erste Block
</p>
<ng-template #unset>
  <p>Else Block</p>
</ng-template>
