<!--<app-user *ngIf="false"></app-user>
<app-users *ngIf="false"></app-users>
<div class="app-user" *ngIf="false"></div>

<app-sample1 *ngIf="false"></app-sample1>
<app-practice2 *ngIf="false"></app-practice2>
<div *ngIf="false">
  <app-star *ngFor="let rating of ratings" [rating]=rating (starClicked)="onStarClicked($event)"></app-star>
</div>
<app-decoupling></app-decoupling>
<app-child1 #counter><h2 #headercontent>Data from AppComponent</h2></app-child1>
<button (click)="increamentMain()">+</button>
<button (click)="decreamentMain()">-</button>
<br />
<p>Direction Sample</p>
<p bold>Direction Sample</p>


<p *ngIf="condition ; else unset">
  Erste Block
</p>
<ng-template #unset>
  <p>Else Block</p>
</ng-template>



<p *while="condition">
  first section
</p>
<p *while="!condition">
  seconf section
</p>
<button (click)="toggle()">Toggle</button>-->
<!--<div class="panel">
  <div>
    <input type="text" [(ngModel)]="name" />
    <button (click)="addItem(name)">Add Item</button>
  </div>
  <table>
    <tr *ngFor="let item of items"><td>{{item}}</td></tr>
  </table>
</div>-->
<!--<data-comp></data-comp>
<data-comp></data-comp>-->

<!--<app-formsample></app-formsample>-->

<!--<app-formsreactive></app-formsreactive>-->


<!--<app-userservice></app-userservice>-->

<!--<app-senddata></app-senddata>-->

<!--<app-postuser></app-postuser>-->

<div>
  <ul class="nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/about">About</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['item', '6']" [queryParams]="{'product':'samsung','price':400}" >item 6</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['item', '8']" [queryParams]="{'product':'phone', 'price': 200}">item 8</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
